@model RnD.ProgressBarSample.Models.Category
@using (Ajax.BeginForm("Create", "Category", null,
        new AjaxOptions
        {
            UpdateTargetId = "addCategoryMess",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnBegin = "AjaxBegin",
            OnComplete = "AjaxComplete",
            OnSuccess = "AjaxSuccess('addCategoryMess', 'addCategoryDialog', 'commonMessage', 'Category Added.')",
            OnFailure = "AjaxFailure",
        }, new { @id = "addCategoryForm" }))
{
    
    <fieldset>
        <legend>Category:</legend>
        @Html.ValidationSummary(true)
        <div id="addCategoryMess" class="error invisible">
        </div>
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.Name): </strong>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
}
