@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .ui-dialog-titlebar
    {
        display: none;
    }
    .img-load
    {
        padding: 0px;
        margin: 5px;
    }
</style>
<div>
    <div id="get">
        <p>
            <a id="lnkGet" class="add-button" href="/Home/GetMethod">Get Data</a>
        </p>
    </div>
    <div id="post">
        <p>
            <a id="lnkPost" class="add-button" href="/Home/PostMethod">Post Data</a>
        </p>
    </div>
    <div id="displayData">
    </div>
</div>
<script type="text/javascript">

    function openProgressBar() {

        $(document.body).append('<div id="appProgressBar"><img class="img-load" src="../Content/Images/App/loading.gif" /></div>');

        $("#appProgressBar").dialog({
            height: 65,
            width: 'auto',
            resizable: false,
            modal: true
        });

    }

    function closeProgressBar() {

        $("#appProgressBar").dialog("close");
        $("#appProgressBar").remove();

    }

    $(document).ready(function () {

        // For Get Progress Bar
        $('#lnkGet').live('click', function () {

            var linkObj;
            linkObj = $(this);
            var getUrlVal = linkObj.attr('href');

            var displayDiv = $('#displayData');

            // Open Progress Bar Before Calling Get Method
            openProgressBar();

            $.get(getUrlVal, function (data) {

                if (data == "False") {

                    //For Close Progress Bar
                    closeProgressBar();
                }
                else {

                    //For Display Data in Page
                    displayDiv.html("");
                    displayDiv.html(data);

                    //For Close Progress Bar
                    closeProgressBar();
                }

            });

            return false;

        });

        // For Post Progress Bar
        $('#lnkPost').live('click', function () {

            var linkObj;
            linkObj = $(this);
            var postUrlVal = linkObj.attr('href');

            //var displayDiv = $('#displayData');

            var postId = 1;

            // Open Progress Bar Before Calling Post Method
            openProgressBar();

            $.ajax({
                url: postUrlVal,
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ postId: postId }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    //                    if (data == "False") {

                    //                        //For Close Progress Bar
                    //                        closeProgressBar();
                    //                    }
                    //                    else {

                    //                        //For Display Data in Page
                    //                        displayDiv.html("");
                    //                        displayDiv.html(data);

                    //                        //For Close Progress Bar
                    //                        closeProgressBar();
                    //                    }

                    alert(data);
                    closeProgressBar();

                },
                error: function (objAjaxRequest, strError) {

                    var resptext = objAjaxRequest.responseText;

                    closeProgressBar();

                }


            });

            return false;

        });

    });

</script>
